<div class="am" *ngFor="let jugador of jugadores">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="jugador.Foto" [alt]="jugador.Nombre">
      <div class="card-body">
        <h5 class="card-title">{{jugador.Nombre}}</h5>
        <p class="card-text">Edad:{{jugador.Edad}}</p>
        <p class="card-text">Altura:{{jugador.Altura}}</p>
        <p class="card-text">Posición:{{jugador.Posicion}}</p>
        <a class="btn btn-primary" (click)="actualizarJugador(jugador)">Agregar</a>
        <!-- <app-cambiar-pos ([peso])="jugador.Peso"></app-cambiar-pos> -->
      </div>
    </div>
  </div>
