.fondo{
    background-image:url("../../assets/cancha.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    width: 750px;
    height: 1200px;
}

.container{
    padding-top: 100px;
}
.imga{
    width: 110px;
    height: 90px;
    border-radius: 6rem;
}

.divImg{
    padding-top: 60px;
    margin-top: 50px;
}

.rest{
    margin-right: 20px;
}

.rest2{
    padding-left: 30%;
}

.tachito{
    width: 35px;
    height: 35px;
}